@use "global" as *;

.c-heading {
  @include font(18, 18, 80, 700);
  font-weight: bold;
  font-family: $sub-font-family;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: $black;

  @include mq(md) {
    font-size: get-sp-vw(13);
  }

  &.text-red {
    color: $base-color;
  }

  &.text-white {
    color: $white;
  }

  &.text-black-sp {
    @include mq(md) {
      color: $black;
    }
  }
}

.c-heading__svg {
  width: get-pc-vw(18);
  height: get-pc-vw(18);
  margin-right: get-pc-vw(12);

  @include mq(md) {
    width: get-sp-vw(20);
    height: get-sp-vw(20);
    margin-right: get-sp-vw(10);
  }
}

.c-heading__num {
  font-size: get-pc-vw(50);
  margin-left: 10px;
  margin-bottom: get-pc-vw(3);

  @include mq(md) {
    font-size: get-sp-vw(30);
    margin-bottom: 0;
  }
}

.c-heading--2 {
  font-size: rem(24);
  padding-block: rem(10);
  border-bottom: rem(3) solid $base-color;
}

.c-heading--3 {
  font-size: rem(20);
  padding: rem(5) 0 rem(5) rem(10);
  border-left: rem(5) solid $base-color;
}
