@use "global" as *;

.p-table {
  width: 100%;
}
.p-table__body__tr {
  display: flex;
  align-items: center;

  @include mq(md) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.p-table__body {
  border-top: solid 1px $black;
}

.p-table__body__tr {
  border-bottom: solid 1px $black;
  height: get-pc-vw(160);
  padding-left: get-pc-vw(30);

  @include mq(md) {
    height: auto;
    padding: get-sp-vw(25) 0 get-sp-vw(22);
  }
}

.p-table__body__th {
  font-size: get-pc-vw(30);
  width: 29%;
  line-height: 1.66;

  @include mq(md) {
    width: 100%;
    font-size: get-sp-vw(18);
  }

  &:first-letter {
    color: $base-color;
  }
}

.p-table__body__td {
  width: 71%;
  font-size: get-pc-vw(16);
  line-height: 2;
  text-align: left;
  letter-spacing: 0.04em;

  @include mq(md) {
    width: 100%;
    font-size: get-sp-vw(13);
    margin-top: get-sp-vw(9);
    line-height: 1.9;
  }
}

.p-table2 {
  width: 100%;
  margin-top: get-pc-vw(46);

  @include mq(md) {
    margin-top: get-sp-vw(30);
  }
}

.p-table2__body__tr {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq(md) {
    flex-direction: column;
    align-items: flex-start;
    border-top: solid get-sp-vw(1) $black;
    border-bottom: solid solid get-sp-vw(1) $black;

  }
}

.p-table2__body__th {
  font-size: get-pc-vw(18);
  width: 24%;
  line-height: 1.66;
  border-top: solid 1px $black;
  align-self: stretch;
  padding-top: get-pc-vw(37);
  padding-left: get-pc-vw(7);

  @include mq(md) {
    width: 100%;
    font-size: get-sp-vw(15);
    padding-top: get-sp-vw(25);
    border-top: solid 0;
  }

  &:last-of-type {
    border-bottom: solid 1px $black;

    @include mq(md) {
      border-bottom: solid 0;
    }
  }

}

.p-table2__body__td {
  width: 73%;
  font-size: get-pc-vw(16);
  line-height: 2.1;
  text-align: left;
  letter-spacing: 0.04em;
  border-top: solid 1px #C9CACA;
  padding: get-pc-vw(37) 0;

  &:last-of-type {
    border-bottom: solid 1px $black;
  }

  @include mq(md) {
    width: 100%;
    font-size: get-sp-vw(13);
    padding-top: get-sp-vw(9);
    padding-bottom: get-sp-vw(25);
    line-height: 1.9;
    border-top: solid 0;
  }
}