@use "global" as *;

.p-special__inner {
  // background-color: $white;
  border-radius: get-pc-vw(5);
  margin-bottom: get-pc-vw(30);

  @include mq(md) {
    border-radius: get-sp-vw(5);
  }
}

.p-special__video__wrap {
  position: relative;
  height: 100%;
}

.p-special__video__wrap-sp {

  @include mq(md) {
    margin: 0 get-sp-vw(17);
    }
}

.p-special__video {
  position: sticky;
  border-radius: get-sp-vw(5);
  top: get-pc-vw(0);
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;

  &::before {
    position: fixed;
    content: "";
    width: get-pc-vw(17);
    height: get-pc-vw(17);
    top: 0;
    right: calc((100% - get-pc-vw(1306))/2);
    background-image: url(../../assets/images/special/circle__icon.svg);
    background-repeat: no-repeat;
    background-size: 100%;

    @include mq(md) {
      width: get-sp-vw(5);
      height: get-sp-vw(5);
      right: calc((100% - get-sp-vw(353))/2);
    }
  }

  &::after {
    position: fixed;
    content: "";
    width: get-pc-vw(17);
    height: get-pc-vw(17);
    top: 0;
    left: calc((100% - get-pc-vw(1306))/2);
    transform: rotate(270deg);
    background-image: url(../../assets/images/special/circle__icon.svg);
    background-repeat: no-repeat;
    background-size: 100%;

    @include mq(md) {
      width: get-sp-vw(5);
      height: get-sp-vw(5);
      left: calc((100% - get-sp-vw(353))/2);
    }
  }

  @include mq(md) {
    // top: get-sp-vw(100);
  }
}

.p-special__video {

  img {
  position: sticky;
  width: get-pc-vw(17);
  height: get-pc-vw(17);
  top: 0;
  right: 0;
  display: block;
  }

}

.p-special__fv {
  margin-top: get-pc-vw(37);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);


  @include mq(md) {
    width: 90%;
  }

  .c-breadcrumb {
    padding-top: get-pc-vw(35);

    @include mq(md) {
      padding-top: get-sp-vw(17);
    }
  }
  .c-breadcrumb__link {
    color: $white;
  }
  .c-breadcrumb__item {
    color: $white;
  }
}

.p-special__fv__wrap {
  text-align: center;
  color: $white;
  padding-top: get-pc-vw(45);
  letter-spacing: 0.06em;

  @include mq(md) {
    padding-top: get-sp-vw(40);
  }
}

.p-special__fv__head{
  color: $white;
  font-size: get-pc-vw(17);
  font-weight: 700;

  @include mq(md) {
    font-size: get-sp-vw(15);
  }
}

.p-special__fv__title {
  margin-top: get-pc-vw(32);

  @include mq(md) {
    margin-top: get-sp-vw(10);
  }
}

.p-special__fv__img {
  display: block;
  width: get-pc-vw(613);
  margin: 0 auto;

  @include mq(md) {
    width: get-sp-vw(278);
  }
}

.p-special__fv__sub {
  color: $white;
  font-size: get-pc-vw(27);
  font-weight: 900;
  margin-top: get-pc-vw(20);
  letter-spacing: 0.4em;

  @include mq(md) {
    font-size: get-sp-vw(15);
    line-height: 1.9;
    margin-top: get-sp-vw(17);
    letter-spacing: 0.2em;
  }
}

.p-special__fv__text {
  color: $white;
  font-size: get-pc-vw(18);
  font-weight: 700;
  margin-top: get-pc-vw(37);
  line-height: 1.9;
  letter-spacing: -0.02em;

  @include mq(md) {
    font-size: get-sp-vw(13);
    text-align: left;
    margin-top: get-sp-vw(40);
  }
}

.p-special__fv__btn {
  display: flex;
  justify-content: space-between;
  width: get-pc-vw(1100);
  margin: get-pc-vw(60) auto 0;

  @include mq(md) {
    margin-top: get-sp-vw(25);
    width: 100%;
  }
}

.p-special__fv__link {
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: get-pc-vw(20);
  font-weight: 900;
  width: get-pc-vw(357);
  height: get-pc-vw(115);
  background-image: url(../../assets/images/special/special_border.png);
  background-size: 100%;
  background-repeat: no-repeat;

  @include mq(md) {
    background-image: url(../../assets/images/special/special_border_sp.png);
    width: 31%;
    font-size: get-sp-vw(10);
    height: get-sp-vw(70);
    text-align: center;
    line-height: 1.6;
    padding-top: get-sp-vw(10);
  }
}