@use "global" as *;

.p-crosstalk__member {
  padding-top: get-pc-vw(105);

  @include mq(md) {
    padding-top: get-sp-vw(40);
  }
}

.p-crosstalk__member__flex {
  display: flex;
  align-items: flex-start;

  @include mq(md) {
    flex-direction: column;
  }
}

.p-crosstalk__member__flex2 {
  display: flex;
  align-items: flex-start;
  margin-top: get-pc-vw(70);

  @include mq(md) {
    flex-direction: column;
    margin-top: get-sp-vw(30);
  }
}

.p-crosstalk__content {
  display: flex;
  padding-bottom: get-pc-vw(67);
  border-bottom: solid 1px $black;
  width: 85%;

  @include mq(md) {
    width: 100%;
    margin-top: get-sp-vw(40);
    flex-direction: column;
    padding-bottom: get-sp-vw(30);
  }
}

.p-crosstalk__content3 {
  justify-content: space-between;
  flex-wrap: wrap;

  @include mq(md) {
    flex-direction: row;
  }

  .p-crosstalk__content__wrap {
    @include mq(md) {
      width: 50%;
    }
  }

  .p-crosstalk__content__head {
    @include mq(md) {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  .p-crosstalk__content__sp {

    @include mq(md) {
      text-align: left;
      margin-left: get-sp-vw(15);
    }
  }
}

.p-crosstalk__content__head {

  @include mq(md) {
    width: 25%;
    margin-left:　get-sp-vw(15);
  }
}

.p-crosstalk__heading{
  width: 15%;

  @include mq(md) {
    width: 100%;
    margin-left: get-sp-vw(10);
  }

}

.p-crosstalk__content2 {
  width: 85%;

  @include mq(md) {
    width: 100%;
    margin-top: get-sp-vw(10);
    
  }
}

.p-crosstalk__content__wrap {
  margin-right: get-pc-vw(42);
  text-align: center;

  @include mq(md) {
    display: flex;
    margin-right: 0;
    margin-bottom: get-sp-vw(20);
  }

  &:last-of-type {
    margin-right: get-pc-vw(40);

    @include mq(md) {
      margin-right: 0;
    }
  }
}

.p-crosstalk__content__wrap2 {
  margin-right: 0;
}

.p-crosstalk__content__img {
  width: get-pc-vw(198);
  margin: 0 auto;

  @include mq(md) {
    width: get-sp-vw(76);
  }
}

.p-crosstalk__content__name {
  font-size: get-pc-vw(30);

  @include mq(md) {
    font-size: get-sp-vw(12);
    margin-top:get-sp-vw(5);
  }
}


.p-crosstalk__content__sub {
  font-size: get-pc-vw(14);
  margin-top:get-pc-vw(3);

  @include mq(md) {
    font-size: get-sp-vw(8);
  }
}

.p-crosstalk__content__text {
  font-size: get-pc-vw(12);
  margin-top: get-pc-vw(20);
  font-weight: 500;
  text-align: left;

  @include mq(md) {
    width: 75%;
    font-size: get-sp-vw(10);
    padding-left:  get-sp-vw(29);
    margin-top: 0;
    line-height: 2;
  }
}


.p-crosstalk__content2__head {
  font-size: get-pc-vw(45);
  font-weight: 900;
  color: $base-text;
  line-height: 1;
  position: relative;

  @include mq(md) {
    font-size: get-sp-vw(23);
    line-height: 1.9;
    margin-left: get-sp-vw(10);
  }

  &::before {

    @include mq(md) {
      position: absolute;
      content: "";
      width: get-sp-vw(18);
      height: get-sp-vw(3);
      top: 48%;
      right: get-pc-vw(23);
      background-color: $base-color;
      transition: 0.2s;
      transform: rotate(-90deg);
    }
  }

  &.is-open::before {
    transform: rotate(0deg);
    top: 48%;
  }

  &::after {

    @include mq(md) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: get-pc-vw(23);
      content: "";
      background-color: $base-color;
      transition: 0.3s;
      width: get-sp-vw(18);
      height: get-sp-vw(3);
    }
  }
}

.p-crosstalk__content2__list {
  margin-top: get-pc-vw(48);

  @include mq(md) {
    margin-top: get-sp-vw(27);
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }

  &.is-open {
    @include mq(md) {
      overflow-y: auto;
      transition: all 0.3s;
    }

  }
}

.p-crosstalk__content2__item {
  display: flex;
  margin-bottom: get-pc-vw(40);

  @include mq(md) {
    margin-bottom: get-sp-vw(26);
  }
}

.p-crosstalk__content2_item__text-red {
  color: $base-color;
  width: 7.5%;
  font-size: get-pc-vw(16);
  padding-left: get-pc-vw(7);
  @include mq(md) {
    width: 12%;
    font-size: get-sp-vw(13);
  }
}

.p-crosstalk__content2__item__text {
  width: 92.5%;
  font-size: get-pc-vw(16);
  @include mq(md) {
    width: 88%;
    font-size: get-sp-vw(13);
    line-height: 1.9;
    letter-spacing: -0.02em;
  }
}

.p-crosstalk__img {
  display: block;
  margin-top: get-pc-vw(100);

  @include mq(md) {
    margin-top: get-sp-vw(90);
  }
}